/* Style général de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F6FA;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Titre principal */
h1 {
    text-align: center;
    font-size: 28px;
    color: #4A4A4A;
    margin-top: 30px;
}

/* Formulaire */
form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

/* Style pour les labels */
form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: #555;
}

/* Style des champs de texte et autres types de champs (âge, email, mot de passe) */
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    transition: all 0.3s ease;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    outline: none;
    border-color: #4A90E2;
    background-color: #fff;
}

/* Style de l'astérisque pour les champs obligatoires */
form label span {
    color: #F2C94C; /* Astérisque en couleur jaune */
    font-size: 18px;
    margin-left: 5px;
}

/* Bouton Enregistrer */
form button {
    width: 100%;
    padding: 12px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #326DBF;
}

/* Style du lien "Annuler" */
form a {
    display: inline-block;
    text-decoration: none;
    background-color: #F5F6FA;
    color: #4A90E2;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

form a:hover {
    background-color: #4A90E2;
    color: white;
}

/* Style du bouton retour */
form button[type="submit"] {
    background-color: #3A81E6;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #326DBF;
}

/* Boîte de message (si applicable) */
.message-success {
    background-color: #28A745;
    color: white;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    width: 80%;
}

